{% extends "base.html" %}

	{% block title %}
		About The Project
	{% endblock %}

	{% block content %}
		<div class="container">
			<div>
				<h2>Motivation</h2>
				This project presented a unique opportunity to learn a wide variety of topics of interest. This project utilized:
				<br>
				<br>
				<ul>
					<li>Deep learning in Keras</li>
					<li>Web development in Flask</li>
					<li>HTML</li>
					<li>css</li>
					<li>Bootstrap</li>
					<li>Heroku</li>
				</ul>
				While there are many ML projects that could be presented in a well-polished user-friendly web app, the interactivity of drawing digits to be predicted with a CNN model presents a much more interesting project.
				<br>
				<br>
				A modern data scientist will likely have to interface with non-technical stakeholders in their careers. Doing so may present difficult opportunities to report a complex model without jargon-heavy presentations.
				Because of this, interactive presentations such as this one present a user-friendly method of displaying a model.
				The main page of this web app does not require jargon on CNN structure, loss functions, epochs, or anything of the sort.
				It simply presents a canvas to draw an image, and reports some simple conclusions from the model output.
				Doing so increases the accessibility to model performance metrics to those without data science backgrounds.
				This web app could be presented to practically anyone, who can then judge the performance of the CNN by its ability to properly classify the digits they draw.
			</div>

			<div>
				<h2>Flask Web Development</h2>

				This project was constructed in <h ref="https://flask.palletsprojects.com/en/2.1.x/">Flask</h>, and utilizes HTML, CSS, and JavaScript.
				While web development, markup languages, style sheet languages, and JavaScript are not critical skills for modern data scientists, I believe gaining skills in a wide variety of topics displays one's ability to learn and passion for technology.

			</div>

			<div>
				<h2>Cloud Deployment with Heroku</h2>

				This project was deployed using Heroku, selected as a cutting-edge and user-friendly platform as a service (PaaS).
				Heroku conveniently fit the needs of this project due to its easy deployment of Flask apps in Python.

			</div>


        </div>

	{% endblock %}

