{% extends "base.html" %}


	{% block title %}
		Handwritten Digit Recognizer
	{% endblock %}

	{% block content %}
		<div class="container">

            <div class="row clearfix">
                <div class="col-md-3" align="center">
                    <h2>Draw a Digit Here</h2>
                    <div style="position: relative;">
                        <canvas id="the_stage" width="270" height="270" align="center">Canvas</canvas>
                        <br>
                    </div>
                    <div style="position: relative;">
                        <button type="button" class="btn btn-default butt" onclick="clearCanvas()" align="center">Clear</button>
                        <button type="button" class="btn btn-default butt" id="pred" onclick="predict()" align="center">Predict</button>
                        </div>
                </div>

                <div class="col-md-3" align="center" style="padding:10px">
                    <div>
                        <h2 id="Prediction_header"></h2>
                    </div>
                    <div>
                        <h2 id="prediction"></h2>
                    </div>
                </div>


                <div class="col-md-4" align="center" style="padding:10px">
                    <table class="table table-hover" id="table" style="display: none;">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col" id="col1"></th>
                        <th scope="col" id="col2"></th>
                        <th scope="col" id="col3"></th>
                      </tr>
                      </thead>

                        <tr>
                          <td id="pred0"></td>
                          <td id="pred1"></td>
                          <td id="pred2"></td>
                        </tr>
                    </table>
                </div>


                <div class="col-md-8"><img id="fig" alt="Model Output" width="60%" style="display: none;"></div>

            </div>




            <hr>

            <!--
            <div>
                <div>
                    <h2>About:</h2>
                    <p>
                        This app predicts a single handwritten digit (0-9) using the LeNet-5 v2.0 convolutional neural network (CNN).
                        This model, originally presented in <a href="http://vision.stanford.edu/cs598_spring07/papers/Lecun98.pdf">LeCun et al., Gradient-Based Learning Applied to Document Recognition</a> was chosen as a well-known high-performing model for digit recognition.
                        The model was implemented in Keras and trained on the MNIST dataset of handwritten digits.

                        <br>

                        See the model creation and training here:

                    </p>
                    <p>
                        <a href="https://colab.research.google.com/github/turnerluke/digit_recog/blob/main/models/LeNet_5_train.ipynb">
                            <img src="https://colab.research.google.com/assets/colab-badge.svg">
                        </a>
                    </p>

                </div>
            </div>

            <hr>

            <div>
                <div>
                    <h2>App:</h2>
                    <p>
                        App Description
                        <br>
                        pt2 Electric boogaloo
                    </p>
                </div>
            </div>

            <hr>

            <div>
                <div>
                    <h2>Model:</h2>
                    <p>
                        Model Description
                        <br>
                        pt2 Electric boogaloo
                    </p>
                </div>
            </div>
            -->


        </div>

	{% endblock %}

